@inherits LayoutComponentBase

@namespace GetWatch.Pages.Layout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="GetWatch.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/Common.css" />
    <link rel="stylesheet" href="css/ProfilePage.css" />
</head>
<body>
    
    <div class="main-layout">
        @Body
        
    </div>

    <script src="js/ProfilePage.js"></script>
</body>
</html>