.category-container{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.movie-poster-container {
  width: 100%;
  overflow: hidden;
  position: relative
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
  
  .movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    position: relative;
  }
  
  .duration-badge {
    display: flex;
    padding: 6px 10px;
    align-items: center;
    border-radius: 51px;
    border: 1px solid #262626;
    background-color: #141414;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 7%;
  }
  
  .duration-text {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  
  
  .time-icon {
    width: 24px;
    height: 24px;
  }
  

  .movie-link {
    text-decoration: none !important; /* Remove o sublinhado padrão */
    color: inherit;
    display: block; /* Faz com que o link se comporte como um bloco */
    width: 100% !important; /* Garante que o link não aumente o tamanho do elemento */
  }

  
  
  
