<section class="faq-section">
        <div class="faq-header">
          <div class="faq-intro">
            <h2 class="section-title">FAQ</h2>
            <p class="faq-description">
              Got questions ? Check frequent questions here!
            </p>
          </div>
          <button class="ask-button">Ask a Question</button>
        </div>

        <div class="faq-content">
            <article class="faq-item">
              
                <div class="faq-item-con">
                  <span class="faq-number">01</span>
                  <h3 class="faq-question">What is getWatch?</h3>
                </div> 
              
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con"> 
              <span class="faq-number">02</span>
              <h3 class="faq-question">How Much is GetWatch?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">03</span>
              <h3 class="faq-question">
                What content is available inGetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div> 
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">04</span>
              <h3 class="faq-question">
                How can I rent movies in GetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>
          

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">05</span>
              <h3 class="faq-question">How can I sign up to GetWatch?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">06</span>
              <h3 class="faq-question">What is the duration of the free Trial?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">07</span>
              <h3 class="faq-question">
                How to contact support of GetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">08</span>
              <h3 class="faq-question">Which payment methods are available?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>
        </div>
      </section>