<section class="faq-section">
        <div class="faq-header">
          <div class="faq-intro">
            <h2 class="section-title">FAQ</h2>
            <p class="faq-description">
              Tens perguntas ? Verifica as perguntas mais frequentes aqui!
            </p>
          </div>
          <button class="ask-button">Ask a Question</button>
        </div>

        <div class="faq-content">
            <article class="faq-item">
              
                <div class="faq-item-con">
                  <span class="faq-number">01</span>
                  <h3 class="faq-question">O que é o getWatch?</h3>
                </div> 
              
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con"> 
              <span class="faq-number">02</span>
              <h3 class="faq-question">Quanto custa o GetWatch?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">03</span>
              <h3 class="faq-question">
                Que conteudo estádisponivel no GetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">04</span>
              <h3 class="faq-question">
                Como posso alugar filmes no GetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>
          

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">05</span>
              <h3 class="faq-question">Onde faço sign up para o GetWatch?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">06</span>
              <h3 class="faq-question">Quanto tempo é o free Trial?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">07</span>
              <h3 class="faq-question">
                Como contactar o suporte do GetWatch?
              </h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>

            <article class="faq-item">
              <div class="faq-item-con">
              <span class="faq-number">08</span>
              <h3 class="faq-question">Quais são os métodos de pagamento?</h3>
              </div>
              <div class="faq-text">
                <p>Uma cagada completa</p>
              </div>
            </article>
        </div>
      </section>